doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Two Images
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/info.css")
  body
    include _translate.pug
    include _navbar.pug

    .container.justify-content-center
      .center-images-container
        img(src="/images/bite1.png", alt="First informatic")
        img(src="/images/bite2.png", alt="Second informatic")

    include _footer.pug
    include _bootstrap.pug